* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    direction: rtl;
    margin: 0;
    padding: 0;
    background-color: $color-light;
    color: $color-dark;
}

.container {
    max-width: 1000px;
}

.carousel-indicators {
    margin-bottom: -50px;

    [data-bs-target] {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}

.header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, rgba($color-dark, 0.2), rgba($color-dark, 0.8)), url(../images/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;

    .desc {
        max-width: 400px;

        .title {
            margin-bottom: 30px;
            color: $color-light;
            font-size: 2rem;
            font-weight: normal;
        }

        .text {
            margin-bottom: 20px;
            color: $color_gray;
        }
    }
}

.feature {
    margin-top: -100px;

    .box {
        padding-top: 40px;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .icon {
            width: 75px;
            height: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $color-dark;
            border-radius: 50%;
            font-size: 2rem;
        }

        .amount {
            color: $color-dark;
            font-size: 1.8rem;
            font-weight: normal;
        }

        .title {
            color: $color-dark;
            font-size: 1.2rem;
            font-weight: normal;
        }
    }
}

.about {
    .cover {
        background-image: url(../images/cover.webp);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;
    }

    .content {
        padding: 80px 40px;
        background-color: $color-secondary;

        .head {
            margin-bottom: 10px;
            font-size: 1.25rem;
            font-weight: bold;
            color: $color-primary;
        }

        .title {
            margin-bottom: 20px;
            color: $color-dark;
            font-size: 2.5rem;
            font-weight: normal;
            line-height: 1.5;
        }

        .text {
            color: $color-dark;
            font-size: 1rem;
            font-weight: normal;
            line-height: 2;
        }
    }
}

.testimonial {
    .cover {
        background-image: url(../images/testimonial-cover.webp);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 600px;
    }

    .content {
        padding: 80px 40px;
        background-color: $color-secondary;

        .head {
            margin-bottom: 10px;
            font-size: 1.25rem;
            font-weight: bold;
            color: $color-primary;
        }

        .title {
            margin-bottom: 20px;
            color: $color-dark;
            font-size: 2.5rem;
            font-weight: normal;
            line-height: 1.5;
        }

        .testimony {
            margin-top: 40px;
            color: $color-dark;

            .text {
                color: $color-dark;
                font-size: 1.2rem;
                font-weight: normal;
                line-height: 1.8;
            }

            .profile {
                margin-top: 40px;
                display: flex;
                gap: 10px;

                .pic {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }

                .desc {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .name {
                        font-size: 1.25rem;
                        font-weight: normal;
                    }

                    .career {
                        font-size: 1rem;
                        font-weight: normal;
                        color: rgba($color: $color-dark, $alpha: 0.5);
                    }
                }
            }
        }
    }
}

.lawyer {
    padding: 80px 40px;
    background-color: $color-secondary;

    .head {
        color: $color-primary;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }

    .title {
        margin-bottom: 20px;
        color: $color-dark;
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
    }

    .text {
        margin-bottom: 60px;
        color: rgba($color: $color-dark, $alpha: 0.5);
        font-size: 1rem;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;

        .pic {
            width: 150px;
            height: 150px;
            border-radius: 50%;
        }
    
        .name {
            color: $color-dark;
            font-size: 1.2rem;
            font-weight: normal;
        }
    
        .career {
            color: rgba($color: $color-primary, $alpha: 0.5);
            font-size: 1rem;
            font-weight: bold;
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            .link {
                width: 20px;
                height: 20px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: 0.25s;
            }

            .link:hover {
                color: $color-primary;
            }
        }
    }
}

.weblog {
    padding: 80px 40px;

    .head {
        color: $color-primary;
        font-size: 1.25rem;
        font-weight: bold;
        text-align: center;
    }

    .title {
        margin-bottom: 20px;
        color: $color-dark;
        font-size: 2.5rem;
        font-weight: normal;
        line-height: 1.5;
        text-align: center;
    }

    .text {
        margin-bottom: 60px;
        color: rgba($color: $color-dark, $alpha: 0.5);
        font-size: 1rem;
        font-weight: normal;
        line-height: 2;
        text-align: center;
    }
}

@media(max-width: 767px) {
    .testimonial .cover {
        order: -1;
    }
}